body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(1,8,134,1) 100%);

}
form {
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 25px;
  box-shadow: 0px 3px 13px 12px rgba(0,0,0,0.54);
  display:flex;
  flex-direction: column;
  width: 30rem;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top:10rem;
}

input{
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
  outline:none;
  color:#eacdee;


}


input[type="submit"] {
  border: 1px solid #c4146c; /* Supprime la bordure */
  border-radius:25px;
  background: #764ba2; /* Supprime l'arrière-plan */
  cursor: pointer;
  color:#fff;
  padding:0.5rem;
}

input[type="submit"]:hover{
  background: #667eea; /* Supprime l'arrière-plan */
}


input::placeholder{
  color: #caa6d9;
}
a{
  text-decoration: none;
  color: white;
}

ul li{
  list-style:none;
}

select{
  background: transparent;
  width:11rem;
  overflow: hidden;
  margin-bottom: 1rem;
  color: #eacdee;
}

