<form [formGroup]="registerForm" (ngSubmit)="register()">


  <input type="text" formControlName="numeroMatricule" placeholder="numéro de matricule" />
  <input type="text" formControlName="titre" placeholder="titre">
  <input type="text" formControlName="nom" placeholder="nom">
  <input type="text" formControlName="prenom" placeholder="prenom">
  <input type="text" formControlName="login" placeholder="login">
  <input type="text" formControlName="password" placeholder="password">
  <input type="text" formControlName="numero" placeholder="numero">
  <input type="text" formControlName="rue" placeholder="rue">
  <input type="text" formControlName="codePostal" placeholder="code postal">
  <input type="text" formControlName="ville" placeholder="ville">

  <input type="submit">


</form>
